/AutoArray/AutoArray/bin
/AutoArray/AutoArray/obj
/Zabawki/Zabawki/obj
/Zabawki/Zabawki/bin
/AutoArray/.vs
/Zabawki/.vs
/FileTransfer/Client/obj
/FileTransfer/Client/bin
/FileTransfer/Server/bin
/FileTransfer/Server/obj
/FileTransfer/.vs
/FileTransfer/SharedCode/obj
/FileTransfer/SharedCode/bin
/ImageBrowser/ImageBrowser/obj
/ImageBrowser/ImageBrowser/bin
/ImageBrowser/.vs
